:root {
    --bgColor1: rgba(127, 119, 180, 0.753);
}

* {
    box-sizing: border-box;

}

body {
    font-family: "Times New Roman", Georgia, Serif;
    background-image: linear-gradient(to bottom right, rgba(169, 210, 230, 0.384), rgba(96, 74, 192, 0.527));
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}


.nav-top{
    position: fixed;
    width: 100%;
    z-index: 1
}

.nav-top .nav-home {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 1
}

.nav-right {
    float: right !important
}

.nav-button{
    font-size: 30px;
    
}

.nav-btn, .nav-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
    
}

.nav-padding {
    padding: 8px 16px !important
}

.nav-bar {
    width: 100%;
    overflow: hidden
}

.display-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 4px;
}