:root {
    --bgColor1: rgba(127, 119, 180, 0.753);
}

* {
    box-sizing: border-box;
    background-image: linear-gradient(to bottom right, rgba(169, 210, 230, 0.384), rgba(96, 74, 192, 0.527));
}

body {
    font-family: "Times New Roman", Georgia, Serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

.nav-top{
    position: fixed;
    width: 100%;
    z-index: 1
}

.nav-top .nav-home {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 1
}

.nav-right {
    float: right !important
}

.nav-btn, .nav-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.nav-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.nav-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.nav-padding {
    padding: 8px 16px !important
}

.nav-white,
.nav-hover-white:hover {
    color: #000 !important;
    background-color: #fff !important
}

.nav-bar {
    display: inline-block;
    width: auto
}